.bg-dark {
    background-color: rgba(1, 1, 1, 1)!important;
}
.container-fluid{
    padding:0px 0px 0px 0px;
}
.carousel-indicators li{
    height: 3px !important;
    border-radius: 0px !important;
    width: 10%;
}
.carousel-caption h5{
    font-size: 3em;
    color: white;
    text-shadow: 4px 4px 6px #47453d;
    font-family: Helvetica;
}
.card:hover{
    transition:0.4s ease-out;
    transform:translateY(20px);
}
.carousel-caption p{
    font-size: 1.5em;
    font-style: italic;
    color: white;
    text-shadow: 4px 4px 6px #47453d;
}
.btn-primary{
    background-color: #47453d;
}
.card mb-3:hover{
    transition:0.1s ease-out;
    transform:translateY(0px);
}
